<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="social.video.downloader.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoDownloader"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/start_app_aduint" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="ID-d4KVfUSE8am9NCsPVlHw1Ts3q2QNlrl8XkCioeKvs7dt2fmkuTBw5WXN3-idIfi2PSC_1ifLVDWqpfyzdGU" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.PrivacyActivity" />
        <activity android:name=".activity.SocialAppActivity" />
        <activity android:name=".activity.DownloaderActivity" />
        <activity android:name=".activity.DownViewActivity" />
        <activity android:name=".activity.MoreAppActivity" />
    </application>

</manifest>